.FRE__Dashboard__Freerider {
  height: 84vh;
  width: 100%;
  margin-top: 15vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: [row1] 1fr [row2] 1fr [row3] 2fr [end];
  grid-template-columns: [col1] 40% [col2] 32% [col3] 25% [end];
  padding: 0 1rem;
  overflow-y: hidden;
}

/* ---- HOVER ---- */
.FRE__Dashboard__Freerider__Hover {
  position: relative;
  padding: 1rem;
}

.FRE__Dashboard__Freerider__Hover > article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 24, 0.4);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 0.7rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Dashboard__Freerider__Hover:hover article {
  width: 0;
}

.FRE__Dashboard__Freerider > *::-webkit-scrollbar {
  display: none;
}

.FRE__Dashboard__Freerider > * {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  overflow-x: hidden;
}

.FRE__Dashboard__Freerider > * > .wrapper {
  position: absolute;
  left: 100%;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  height: calc(100% - 1rem);
  overflow-x: scroll;
  transition: 0.4s ease-in-out;
}

.FRE__Dashboard__Freerider > * > .wrapper::-webkit-scrollbar {
  display: none;
}

.FRE__Dashboard__Freerider > *:hover > .wrapper {
  left: 0%;
}

/* -- Social Media -- */
.FRE__Dashboard__Freerider-opps {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row1;
  grid-row-end: span row3;
  background-color: rgba(212, 97, 18, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-opps > .FRE__Social {
  margin-top: 0;
}

/* -- Current Jobs -- */
.FRE__Dashboard__Freerider-curr {
  grid-column-start: col2;
  grid-column-end: span col3;
  grid-row-start: row1;
  grid-row-end: span row3;
  background-color: rgba(24, 24, 24, 0.4);
  border-radius: 1rem;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-curr__Current {
  font-size: 1.4rem;
  margin-left: 1rem;
  margin: 4%;
}

/* -- Chats -- */
.FRE__Dashboard__Freerider-chats {
  grid-column-start: col3;
  grid-column-end: span col3;
  grid-row-start: row1;
  grid-row-end: span row2;
  background-color: rgba(24, 24, 24, 0.4);
  border-radius: 1rem;
  overflow-x: hidden;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-chat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: solid rgba(250, 200, 152, 0.1) 0.1rem;
  border-bottom: solid rgba(250, 200, 152, 0.1) 0.1rem;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-chat__Img {
  width: 17%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.FRE__Dashboard__Freerider-chat__Img > img {
  width: 100%;
  height: 100%;
}

/* -- Balances -- */
.FRE__Dashboard__Freerider-bal {
  grid-column-start: col3;
  grid-column-end: span col3;
  grid-row-start: row2;
  grid-row-end: span row4;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-bal__Balance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5%;
  font-size: 1.2rem;
}

.FRE__Dashboard__Freerider-bal > p {
  margin: 0.5%;
  font-size: 1.2rem;
  text-align: center;
}

/* ---- Community Network ---- */
.FRE__Dashboard__Freerider-network {
  grid-column-start: col2;
  grid-column-end: span col3;
  grid-row-start: row3;
  grid-row-end: span row4;
  background-color: rgba(24, 24, 24, 0.4);
  border-radius: 1rem;
  padding: 1rem;
}

.FRE__Dashboard__Freerider-network__Left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Dashboard__Freerider-network__Left > div {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 2%;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Dashboard__Freerider-network__Left > div > img {
  height: 100%;
  filter: grayscale(1) invert(1);
}

.FRE__Dashboard__Freerider-network__Left div:nth-child(2) img {
  box-sizing: border-box;
  padding: 1.5rem;
}

.FRE__Dashboard__Freerider-network__Left div:nth-child(3) img {
  box-sizing: border-box;
  padding: 2rem;
}

/* -- Profile -- */
.FRE__Dashboard__Freerider-profile {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(24, 24, 24, 0.4);
  border-radius: 1rem;

  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row3;
  grid-row-end: span row4;
}
