.FRE__Chat__Big {
  height: 100%;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 2rem;
  padding: 2rem;
}

/* -- Top -- */
.FRE__Chat__Big-Top {
  height: 10%;
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid rgba(250, 200, 152, 0.1) 0.1rem;
}

.FRE__Chat__Big-Top > div > i {
  padding: 1rem;
  background-color: rgb(20, 20, 20);
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.FRE__Chat__Big-Top > .FRE__Chat__Big-Top__Image_Cricle {
  width: 5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

.FRE__Chat__Big-Top > .FRE__Chat__Big-Top__Image_Cricle > img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: -60%;
  top: 160%;
  scale: 0.9;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.FRE__Chat__Big-Top > h2 {
  margin-right: auto;
  margin-left: 2rem;
}

/* -- Middle -- */
.FRE__Chat__Big-Middle {
  height: 80%;
  width: 100%;
}

.FRE__Chat__Big-Message {
  background-color: rgba(250, 200, 152, 0.7);
  margin-right: 80%;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 20%;
  overflow-wrap: break-word;
  border-radius: 1rem 1rem 1rem 0;
}

/* -- Bottom -- */
.FRE__Chat__Big-Bottom {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Chat__Big-Bottom > .FRE__Chat__Big-Bottom__Message {
  width: 95%;
  position: relative;
}

.FRE__Chat__Big-Bottom > .FRE__Chat__Big-Bottom__Message > input {
  width: 96%;
  border-radius: 2rem;
  padding: 0.8rem;
  background-color: rgba(24, 24, 24, 0.6);
  color: var(--white);
  border: solid 0.2rem rgba(24, 24, 24, 0.6);
  transition: border 0.3s ease-in-out;
}

.FRE__Chat__Big-Bottom > .FRE__Chat__Big-Bottom__Message > input:hover {
  border: solid 0.2rem var(--accent);
}

/* -- Sending -- */
.FRE__Chat__Big-Bottom svg {
  width: 2rem;
  position: relative;
  right: 2rem;
  cursor: pointer;
}
