.FRE__Profile {
  width: 97%;
  height: 100vh;
  margin-top: 15vh;
  margin-left: 1.25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FRE__Profile__Images {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: var(--white) 0.2rem solid;
  border-radius: 2rem;
}

.FRE__Profile__Images > img {
  background-color: var(--black);
  height: 180px;
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  top: 7rem;
  left: 2rem;
  aspect-ratio: 1/1;
}

.FRE__Profile__Images div > button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: var(--accent) 0.2rem solid;
  border-radius: 0.5rem;
  background: var(--black);
  color: var(--white);
  font-size: 1.2rem;
}

.FRE__Profile__Wrapper {
  width: 100%;
  height: 100vh;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Profile__Grid {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [row1] 35% [row2] 5% [row3] 35% [row4] 35% [end];
  grid-template-columns: [col1] 22% [col2] 5% [col3] 25% [col4] 25% [col5] auto [end];
  gap: 1rem;
  color: var(--white);
}

.FRE__Profile__Grid > * {
  padding: 2rem;
  border-radius: 0.7rem;
  position: relative;
  background-color: rgba(24, 24, 24, 0.5);
}

.FRE__Profile__Grid > * > h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.FRE__Profile__Grid > * > ul {
  margin-top: 2.6rem;
  margin-left: 2rem;
}

.FRE__Profile__Grid-Values {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row1;
  grid-row-end: span row4;
}

.FRE__Profile__Grid-Hobbies {
  grid-column-start: col2;
  grid-column-end: span col4;
  grid-row-start: row1;
  grid-row-end: span row2;
}

.FRE__Profile__Grid-Skills {
  grid-column-start: col4;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row2;
}

.FRE__Profile__Grid-Education {
  grid-column-start: col2;
  grid-column-end: span col4;
  grid-row-start: row2;
  grid-row-end: span row4;
}

.FRE__Profile__Grid-CV_Highlights {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row4;
  grid-row-end: span row5;
}

.FRE__Profile__Grid-Ambtions {
  grid-column-start: col4;
  grid-column-end: span col5;
  grid-row-start: row2;
  grid-row-end: span row4;
}

.FRE__Profile__Grid-Awards {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row4;
  grid-row-end: span row5;
}

.FRE__Profile__Grid-Timeline {
  grid-column-start: col5;
  grid-column-end: span col6;
  grid-row-start: row1;
  grid-row-end: span row5;
  display: flex;
}

.FRE__Profile__Grid-Timeline > ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.FRE__Profile__Grid-Timeline__Line {
  width: 1rem;
  height: 100%;
  background-color: var(--accent);
  border-radius: 1rem;
}

.FRE__Profile__Grid-Timeline > ul {
  margin-left: 0;
}

.FRE__Profile__Grid-Timeline__Time {
  width: 100%;
  margin: 2rem 0.5rem;
  background-color: rgba(212, 97, 18, 0.6);
  border-radius: 1rem;
  padding: 1rem;
  list-style-type: none;
  transition: scale 0.3s ease-in-out;
  position: relative;
}

.FRE__Profile__Grid-Timeline__Time::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--accent);
  border: var(--white) solid 0.2rem;
  border-radius: 50%;
  position: absolute;
  left: -1.15rem;
  top: 50%;
  transform: translateY(-50%);
}

.FRE__Profile__Grid-Timeline__Time:hover {
  scale: 1.02;
}

.FRE__Profile__Grid-Timeline__Time > * {
  margin-bottom: 0.5rem;
}
