.FRE__Balances__IncomingAndOutgoings {
  flex: 1.1;
  height: 100%;
  background-color: var(--black);
  padding: 2rem;
}

.FRE__Balances__IncomingAndOutgoings > h2 {
  font-size: 2.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
