.FRE__StatementOfWork__Centre {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  text-align: left;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 2rem;
  padding: 2rem;
}

.FRE__StatementOfWork__Centre > *:not(h2) {
  text-align: left;
}
/* -- No SOW -- */
.FRE__StatementOfWork__Centre__NoSow {
  text-align: left;
}

/* -- There is an SOW -- */
.FRE__StatementOfWork__Centre__JobTitle {
  font-size: 2rem;
  text-transform: capitalize;
}

.FRE__StatementOfWork__Centre__JobDescription {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.FRE__StatementOfWork__Centre__JobEmails {
  margin: 1rem 0;
}

/* -- Table SOW not confirmed -- */
.FRE__StatementOfWork__Centre__Table {
  width: 100%;
  margin: 1rem 0;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed {
  width: 95%;
  margin: 0 2.5%;
}

/* -- Title -- */
.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: 3rem;
  margin: 0.7rem 0;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p {
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p:nth-child(1) {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p:nth-child(2) {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p:nth-child(3) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p:nth-child(4) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Title > p:nth-child(5) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

/* -- Rows -- */
.FRE__StatementOfWork__Centre__Table__NotConfirmed__Rows :nth-child(even) > * {
  background-color: rgba(108, 122, 137, 0.4);
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Rows :nth-child(odd) > * {
  background-color: rgba(191, 191, 191, 0.4);
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  height: 3rem;
  margin: 0.7rem 0;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p {
  font-weight: bold;
  padding: 0.5rem 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p:nth-child(1) {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p:nth-child(2) {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p:nth-child(3) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p:nth-child(4) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Row > p:nth-child(5) {
  width: 12.5%;
  min-width: 12.5%;
  max-width: 12.5%;
}

/* --Ask Task Button  -- */
.FRE__StatementOfWork__Centre__Table__NotConfirmed__AddTask {
  width: 100%;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__AddTask > button {
  font-size: 1.5rem;
  border: 0;
  color: var(--white);
  background: transparent;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__AddTask > button > span {
  color: var(--accent);
  font-size: 3rem;
}

/* -- Send Buttons -- */
.FRE__StatementOfWork__Centre__Table__NotConfirmed__Buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Buttons > button {
  width: 20%;
  padding: 0.8rem 1.3rem;
  background: transparent;
  font-size: 1.4rem;
  color: var(--white);
  border: 0.2rem solid var(--accent);
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.FRE__StatementOfWork__Centre__Table__NotConfirmed__Buttons > button:hover {
  transform: translate(0.3rem, -0.3rem);
}

/* -- Table SOW Confirmed -- */
.FRE__StatementOfWork__Centre__Table__Confirmed {
  width: 100%;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Tasks {
  width: 100%;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Task {
  padding: 1rem;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: 1rem;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Task > p {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Task__Checks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Task__Deliverd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FRE__StatementOfWork__Centre__Table__Confirmed__Task__Recieved {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
