.FRE__Balances {
  height: 83vh;
  width: 97%;
  margin: 15vh 1.25% 0 1.25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.FRE__Balances * {
  padding: 1rem;
}
