.FRE__Notifications__Notif {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid var(--accent);
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 2rem 0;
}

/* -- Left -- */
.FRE__Notifications__Notif__Left {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.FRE__Notifications__Notif__Left > img {
  max-width: 90%;
  width: 90%;
}

.FRE__Notifications__Notif__Left > * {
  margin: 0.5rem 0;
}

/* -- Right -- */
.FRE__Notifications__Notif__Right {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.FRE__Notifications__Notif__Right > * {
  margin: 1rem 0;
}

.FRE__Notifications__Notif__Right > div:nth-child(2) > p:nth-child(3) {
  margin-top: 1rem;
  font-weight: bold;
}
