.FRE__Balances__TransactionDetails {
  flex: 2;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.5);
  padding: 2rem;
  border-radius: 2rem;
}

.FRE__Balances__TransactionDetails > h2 {
  font-size: 2.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.FRE__Balances__TransactionDetails-Flex {
  width: 60%;
  margin: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FRE__Balances__TransactionDetails-Flex > div {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 0;
  border-top: solid rgba(250, 200, 152, 0.1) 0.1rem;
  border-bottom: solid rgba(250, 200, 152, 0.1) 0.1rem;
}

.FRE__Balances__TransactionDetails-Flex > div > h3 {
  flex: 1.5;
  text-align: right;
  padding: 1rem;
  border-radius: 1rem;
}

.FRE__Balances__TransactionDetails-Flex > div > p {
  flex: 3;
  padding: 1rem;
  text-align: left; 
  border-radius: 1rem;
}
