.FRE__Opportunities {
  width: 80%;
  margin: 10rem 10% 0rem 10%;
  border: 0.2rem solid var(--accent);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.FRE__Opportunities:hover {
  transform: translate(5px, -5px);
}

/* -- Left -- */
.FRE__Opportunities__Left {
  width: 30%;
}

.FRE__Opportunities__Left > img {
  max-width: 80%;
  border-radius: 0.6rem;
}

.FRE__Opportunities__Left > h2 {
  margin: 1rem 0;
  font-size: 3rem;
}

/* -- Right -- */
.FRE__Opportunities__Right {
  width: 70%;
}

.FRE__Opportunities__Right > * {
  margin: 1rem 0;
}
