.FRE__Watchlist__Following {
  grid-column-start: col2;
  grid-column-end: span auto;
  grid-row-start: row1;
  background-color: rgba(24, 24, 24, 0.5);
  padding: 2rem;
  border-radius: 2rem;
  grid-row-end: span row2;
}

.FRE__Watchlist__Following h2 {
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

/* -- Following Profile -- */
.FRE__Watchlist__Following__Profile {
  width: 90%;
  margin: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgba(250, 200, 152, 0.1) 0.1rem;
  border-bottom: solid rgba(250, 200, 152, 0.1) 0.1rem;
  padding: 1rem 0;
  cursor: pointer;
}

.FRE__Watchlist__Following__Profile__Img {
  width: 14%;
  border-radius: 100%;
}

.FRE__Watchlist__Following__Profile__Img > img {
  max-width: 100%;
  min-width: 100%;
  border-radius: inherit;
}

.FRE__Watchlist__Following__Profile__Text {
  width: 80%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Watchlist__Following__Profile__Text {
  height: 100%;
}

.FRE__Watchlist__Following__Profile__Text > * {
  height: 100%;
}

.FRE__Watchlist__Following__Profile__Text > div > h3 {
  font-size: 1.7rem;
}

.FRE__Watchlist__Following__Profile__Text > div > p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.FRE__Watchlist__Following__Profile__Text > div > button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  background: transparent;
  color: var(--white);
  border: 0.15rem solid var(--white);
}
