.FRE__Watchlist__Advertisment {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row2;
  grid-row-end: span row2;
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.5);
  padding: 2rem;
  border-radius: 2rem;
}

.FRE__Watchlist__Advertisment {
  background-image: url("https://www.pbtech.co.nz/imglib/dd/pb-logo-alt.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
