.FRE__Watchlist__Advertisment {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row2;
  grid-row-end: span row2;
}

.FRE__Watchlist__Advertisment {
  background-image: url("https://images.unsplash.com/photo-1683780777629-7b75e7016acc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
