.FRE__Splash {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/Splash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FRE__Splash > h1 {
  font-size: 5rem;
  margin-top: 15rem;
}

.FRE__Splash__Signup__Wrapper {
  margin-top: 7rem;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.FRE__Splash__SignUp {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7rem 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(24, 24, 24, 0.2);
  border-radius: 0.5rem;
}

.FRE__Splash__SignUp:hover {
  background-color: rgba(24, 24, 24, 0.4);
}

.FRE__Splash__SignUp:hover > * {
  visibility: visible;
  opacity: 1;
}

.FRE__Splash__SignUp button {
  border: none;
  background: transparent;
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--white);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
}

.FRE__Splash__SignUp:hover > button {
  visibility: visible;
}

.FRE__Splash__SignUp h2 {
  font-size: 4rem;
  margin: 0.5rem;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.FRE__Splash__SignUp p {
  font-size: 2rem;
  margin: 0.5rem;
}

.FRE__Splash__SignUp button::after {
  content: "";
  width: 0;
  height: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.FRE__Splash__SignUp button:hover {
  color: var(--accent);
}

.FRE__Splash__SignUp button:hover::after {
  content: "";
  width: 100%;
  background-color: var(--accent);
}
