.FRE__CommunityNetwork {
  height: 80vh;
  width: 100%;
  margin-top: 14vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [end];
  grid-template-columns: [col1] 25% [col2] 10% [col3] 15% [col4] 20% [col5] auto [end];
  padding: 1rem;
}

.FRE__CommunityNetwork > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  text-align: center;

  position: relative;

  transition: all 0.3s ease-in-out;

  background-color: rgba(24, 24, 24, 0.5);
}

.FRE__CommunityNetwork > *:hover {
  background-color: rgba(24, 24, 24, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.FRE__CommunityNetwork > * > i {
  font-size: 3.5rem;
}

.FRE__CommunityNetwork > * > h2 {
  font-size: 2.5rem;
}

.FRE__CommunityNetwork > * > img {
  filter: grayscale(1) invert(1);
}

.FRE__CommunityNetwork-energy {
  justify-content: space-evenly;

  padding: 0 5rem;
}
.FRE__CommunityNetwork-banking {
  justify-content: center;

  padding: 0 5rem;
}

.FRE__CommunityNetwork-education {
  justify-content: center;

  padding: 0 5rem;
}

.FRE__CommunityNetwork-hard_software {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row1;
  grid-row-end: span row3;
  cursor: pointer;
}

.FRE__CommunityNetwork-utility {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row2;
}

.FRE__CommunityNetwork-insurance {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row2;
  grid-row-end: span row3;
}

.FRE__CommunityNetwork-balances {
  grid-column-start: col5;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-accomodation {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-energy {
  grid-column-start: col2;
  grid-column-end: span col5;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-banking {
  grid-column-start: col1;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-education {
  grid-column-start: col4;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}
