.FRE__CommunityNetwork {
  height: 75vh;
  width: 100%;
  margin-top: 18vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [end];
  grid-template-columns: [col1] 15% [col2] 20% [col3] 15% [col4] auto [col5] auto [end];
}

.FRE__CommunityNetwork > * {
  border: 0.2rem solid var(--white);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
  border-radius: 0.7rem;
}

.FRE__CommunityNetwork > *:hover {
  border: 0.6rem solid var(--accent);
}

.FRE__CommunityNetwork-hard_software {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row1;
  grid-row-end: span row3;
  cursor: pointer;
}

.FRE__CommunityNetwork-utility {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row2;
}

.FRE__CommunityNetwork-insurance {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row2;
  grid-row-end: span row3;
}

.FRE__CommunityNetwork-balances {
  grid-column-start: col5;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-accomodation {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-energy {
  grid-column-start: col2;
  grid-column-end: span col5;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-banking {
  grid-column-start: col1;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork-education {
  grid-column-start: col4;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}
