.FRE__Navbar {
  width: 90%;
  height: 12vh;

  margin: 0 5%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  top: 2rem;
}

/* ---- Logged In ---- */
.FRE__Navbar__LoggedIn {
  position: absolute;

  width: 100%;

  z-index: 1;

  transition: all 0.3s ease 0s;
}

/* The navbar */
.FRE__Navbar__LoggedIn__List {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.FRE__Navbar__LoggedIn__List a img {
  max-width: 60%;
}

/* Navbar links */
.FRE__Navbar__LoggedIn__List a {
  float: left;

  color: var(--white);

  padding: 1rem;

  text-align: center;
  text-decoration: none;

  font-size: 1.5rem;

  transition: all 0.3s ease 0s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FRE__Navbar__LoggedIn__List li > button {
  width: 100%;

  background: transparent;
  font-size: 1.5rem;

  border: none;
}

.FRE__Navbar__LoggedIn__List li *:after {
  content: "";

  height: 0.2rem;

  width: 0;

  background: var(--accent);
  transition: all 0.3s;
}

.FRE__Navbar__LoggedIn__List a:hover {
  color: var(--accent);
}

.FRE__Navbar__LoggedIn__List li a:hover:after {
  width: 100%;

  left: 0;
}

.FRE__Navbar__LoggedIn__List li {
  list-style: none;
  position: relative;
  display: inline;
}

/* ---- Not logged In ---- */
.FRE__Navbar__NotLoggedIn {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__Navbar__NotLoggedIn > * {
  color: var(--white);

  text-align: center;

  font-size: 1.2rem;
  text-decoration: none;
}

.FRE__Navbar__NotLoggedIn > * {
  width: 30%;
}

.FRE__Navbar__NotLoggedIn > *:nth-child(2) {
  max-width: 15rem;

  margin: 0 20%;
}
.FRE__Navbar__NotLoggedIn img {
  width: 100%;
}

.FRE__Navbar__NotLoggedIn > *:nth-child(3) > i {
  margin-left: 1rem;
}
