.FRE__CommunityNetwork__Hardware {
  height: 80vh;
  width: 100%;
  margin-top: 14vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [end];
  grid-template-columns: [col1] 15% [col2] 20% [col3] 15% [col4] 20% [col5] auto [end];
  padding: 1rem;
}

.FRE__CommunityNetwork__Hardware > * {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
  position: relative;
  flex-direction: column;
  background-color: rgba(var(--blackRGB));
  text-align: center;

  transition: all 0.3s ease-in-out;
}

.FRE__CommunityNetwork__Hardware > *:hover {
  background-color: rgba(var(--blackRGB), 0.9);
  box-shadow: 0px 1px 10px 0 rgba(var(--blackRGB), 0.7),
    0 6px 30px 0 rgba(var(--blackRGB), 0.19);
}

.FRE__CommunityNetwork__Hardware > * > img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;
}

/* -- Specific Images -- */
.FRE__CommunityNetwork__Hardware-pbTech > img {
  width: 30%;
}

.FRE__CommunityNetwork__Hardware-Expansys > img {
  width: 30%;
}

.FRE__CommunityNetwork__Hardware-apple > img {
  width: 35%;
}

.FRE__CommunityNetwork__Hardware-a {
  flex-direction: column;
}

.FRE__CommunityNetwork__Hardware-a > img {
  width: 50%;
}

.FRE__CommunityNetwork__Hardware-microsoft {
  justify-content: space-evenly;
  padding: 0 5rem;
}

.FRE__CommunityNetwork__Hardware-microsoft {
  flex-direction: row;
  justify-content: space-between;
}

.FRE__CommunityNetwork__Hardware-microsoft > article {
  width: 70%;
}

.FRE__CommunityNetwork__Hardware-microsoft > img {
  width: 25%;
}
.FRE__CommunityNetwork__Hardware-ingram {
  justify-content: center;
  padding: 0 5rem;
}

.FRE__CommunityNetwork__Hardware-ingram > img {
  width: 35%;
}

.FRE__CommunityNetwork__Hardware-dell {
  justify-content: center;
  padding: 0 5rem;
}

.FRE__CommunityNetwork__Hardware-dell > img {
  width: 22%;
  box-shadow: none;
}

.FRE__CommunityNetwork__Hardware > * > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--whiteRGB), 0.7);
  overflow: hidden;

  color: var(--black);

  width: 0;
  height: 100%;
  transition: 0.4s ease-in-out;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FRE__CommunityNetwork__Hardware > * > div > h2 {
  margin-top: 1rem;
}

.FRE__CommunityNetwork__Hardware > *:hover > div {
  width: 100%;
}

.FRE__CommunityNetwork__Hardware-pbTech {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row1;
  grid-row-end: span row3;
  cursor: pointer;
}

.FRE__CommunityNetwork__Hardware-Expansys {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row2;
}

.FRE__CommunityNetwork__Hardware-apple {
  grid-column-start: col3;
  grid-column-end: span col5;
  grid-row-start: row2;
  grid-row-end: span row3;
}

.FRE__CommunityNetwork__Hardware-balances {
  grid-column-start: col5;
  grid-column-end: span col5;
  grid-row-start: row1;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork__Hardware-a {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork__Hardware-microsoft {
  grid-column-start: col2;
  grid-column-end: span col5;
  grid-row-start: row3;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork__Hardware-ingram {
  grid-column-start: col1;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}

.FRE__CommunityNetwork__Hardware-dell {
  grid-column-start: col4;
  grid-column-end: span col4;
  grid-row-start: row4;
  grid-row-end: span row4;
}
