.FRE__Dashboard {
  height: 84vh;
  width: 100%;
  margin-top: 15vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: [row1] 1fr [row2] 1fr [row3] 2fr [end];
  grid-template-columns: [col1] 35% [col2] 7% [col3] 25% [col4] 30% [end];
  padding: 0 1rem;
  overflow-y: hidden;
}

/* ---- Scroll Bar ---- */
.FRE__Dashboard > *::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}

/* ---- HOVER ---- */
.FRE__Dashboard__Hover {
  position: relative;
}

.FRE__Dashboard__Hover > article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 0rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FRE__Dashboard__Hover > article > i {
  margin: 0.5rem;
  font-size: 3.5rem;
}

.FRE__Dashboard__Hover > article > h2 {
  margin: 0.5rem;
  font-size: 2.5rem;
}

.FRE__Dashboard__Hover > article > p {
  margin: 0.5rem;
}

.FRE__Dashboard__Hover:hover article {
  width: 0;
}

.FRE__Dashboard > * {
  cursor: pointer;
}

.FRE__Dashboard > * {
  cursor: pointer;
  position: relative;
  padding: 1rem;
  overflow-x: hidden;
}

.FRE__Dashboard > * > .wrapper {
  position: absolute;
  left: 100%;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  height: calc(100% - 1rem);
  overflow-x: scroll;
  transition: 0.4s ease-in-out;
}

.FRE__Dashboard > * > .wrapper::-webkit-scrollbar {
  display: none;
}

.FRE__Dashboard > *:hover > .wrapper {
  left: 0%;
}

/* ---- Social Media ---- */
.FRE__Dashboard-opps {
  grid-column-start: col1;
  grid-column-end: span col2;
  grid-row-start: row1;
  grid-row-end: span row3;
  background-color: var(--black);
  border-radius: 0rem;
  padding: 1rem;
  overflow-y: scroll;

  color: var(--white);
}

.FRE__Social {
  margin-top: 0;
}

/* -- Current Job -- */
.FRE__Dashboard-curr {
  grid-column-start: col2;
  grid-column-end: span col4;
  grid-row-start: row1;
  grid-row-end: span row3;
  background-color: var(--black);
  border-radius: 0rem;
  padding: 1rem;

  color: var(--white);
}

.FRE__Dashboard-curr__Current {
  font-size: 1.4rem;
  margin-left: 1rem;
  margin: 4%;
}

/* ---- Chats ---- */
.FRE__Dashboard-chats {
  grid-column-start: col4;
  grid-column-end: span end;
  grid-row-start: row1;
  grid-row-end: span row2;
  background-color: var(--black);
  border-radius: 0rem;
  overflow-x: hidden;
  padding: 1rem;

  color: var(--white);
}

/* Chat */
.FRE__Dashboard-chat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: solid rgba(250, 200, 152, 0.1) 0.1rem;
  border-bottom: solid rgba(250, 200, 152, 0.1) 0.1rem;
  padding: 1rem;
}

.FRE__Dashboard-chat__Img {
  width: 17%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.FRE__Dashboard-chat__Img > img {
  width: 100%;
  height: 100%;
}

/* ---- Balances ---- */
.FRE__Dashboard-bal {
  grid-column-start: col4;
  grid-column-end: span end;
  grid-row-start: row2;
  grid-row-end: span row3;
  margin-top: 1%;
  background-color: var(--black);
  border-radius: 0rem;
  padding: 1rem;

  color: var(--white);
}

/* ---- Profile ---- */
.FRE__Dashboard-profile {
  grid-column-start: col1;
  grid-column-end: span col3;
  grid-row-start: row3;
  grid-row-end: span row4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--black);

  color: var(--white);
}

/* -- Balances -- */
.FRE__Dashboard-bal__Balance {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5%;
  font-size: 1.2rem;
}

.FRE__Dashboard-bal > p {
  margin: 0.5%;
  font-size: 1.2rem;
  text-align: center;
}

.FRE__Dashboard-bal__Balance__Total {
  font-weight: bold;

  text-align: center;

  font-size: 1.2rem;
}

/* -- Community Network -- */
.FRE__Dashboard-network {
  grid-column-start: col3;
  grid-column-end: span end;
  grid-row-start: row3;
  grid-row-end: span row4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);

  color: var(--white);
}

.FRE__Dashboard-network div {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 2%;
  overflow: hidden;
  border-radius: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
}
