#FRE__Main__Login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/Splash.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#FRE__Main__Login > form {
  background-color: white;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25%;
  height: 50vh;
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#FRE__Main__Login h2 {
  font-size: 3.6rem;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#FRE__Main__Login h2::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  background-color: var(--accent);
}

#FRE__Main__Login > form label {
  font-weight: bold;
}

#FRE__Main__Login > form label > span {
  color: red;
}

#FRE__Main__Login > form input {
  width: 80%;
  padding: 0.5rem;
  border: 0.15rem solid white;
  border-radius: 0.3rem;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

#FRE__Main__Login > form input:hover {
  border: 0.15rem solid var(--accent);
}

#FRE__Main__Login div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#FRE__Main__Login button {
  padding: 0.5rem 1.5rem;
  width: 70%;
  border: 0.2rem solid var(--black);
  background: var(--white);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

#FRE__Main__Login button:hover {
  border: 0.2rem solid var(--accent);
  color: var(--accent);
}
