.FRE__Main__Left {
  flex: 1;
  height: 100%;
}

.FRE__Main__Left__Buttons {
  width: 100%;
  height: 100%;
}

.FRE__Main__Left__Buttons__User {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.FRE__Main__Left__Buttons__User > img {
  width: 15%;
  margin-right: 2rem;
  border-radius: 50%;
}

.FRE__Main__Left__Buttons__Buttons {
  width: 100%;
  height: 35%;
  background-color: auto;
}

.FRE__Main__Left__Buttons__Buttons__Button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  cursor: pointer;
}

.FRE__Main__Left__Buttons__Buttons__Button > i {
  color: var(--accent);
}

.FRE__Main__Left__Buttons__Buttons__Button > h3 {
  margin-left: 1rem;
}
