$text: #140f0b;
$background: #fcfaf8;
$primary: #bd7c51;
$secondary: #ddb092;
$accent: #d35f12;

// Dark
// text: #f4efeb,
// background: #070503,
// primary: #ae6d42,
// secondary: #6d4022,
// accent: #ed792c,
