body {
  margin: 0;
  padding: 0;
  color: var(--white);
  overflow-x: hidden;
  background-color: var(--black);

  --black: rgba(, 1);
  background-image: linear-gradient(
      rgba(24, 24, 24, 0.9),
      rgba(24, 24, 24, 0.9)
    ),
    url("./assets/Splash.jpg");
  background-position: center;
}

:root {
  --accent: #d46112;
  --black: #181818;
  --white: #faf9f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

noscript {
  width: 80%;
  margin-left: 10%;
  height: 100vh;
  font-size: 2rem;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-plus {
  color: var(--accent);
}
