@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  overflow-x: hidden;
}

:root {
  --accent: #d46112;
  --black: #181818;
  --white: #faf9f6;
  --background: 24, 24, 24;
  --whiteRGB: 250, 249, 246;
  --blackRGB: 24, 24, 24;
}

body {
  margin: 0;
  padding: 0;

  background-color: $background;
  color: $text;

  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button {
  cursor: pointer;

  font-family: "Lato", sans-serif;
}

noscript {
  width: 80%;
  margin-left: 10%;
  height: 100vh;
  font-size: 2rem;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-plus {
  color: var(--accent);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
