@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import "./variable";

body {
  margin: 0;
  padding: 0;

  background-color: $background;
  color: $text;

  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button {
  cursor: pointer;

  font-family: "Lato", sans-serif;
}
